/* Change color of H1 */
h1 {
    background-color: rgb(101,155,239);
    color: rgb(0,0,0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    text-align: center;
    text-shadow: -2px 5px gray;
    word-spacing: 10px;
}
body {
    /*This is the reset code read reset code*/
    /* margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1; */
    background-color: aqua;
    background-image: url(https://picsum.photos/200);
    background-repeat: no-repeat;
}