/* Change color of H1 */
h1 {
    background-color: rgb(101,155,239);
    color: rgb(0,0,0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    text-align: center;
    text-shadow: -2px 5px gray;
    word-spacing: 10px;
}
body {
    /*This is the reset code read reset code*/
    /* margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1; */
    background-color: white;
    background-image: url(https://picsum.photos/200);
    background-repeat: no-repeat;
}
.RedColor {
    background-color:tomato;
}
.BlueColor{
    background-color:aqua;
}
.GreenColor{
    background-color:green;
}
aside {
    margin-top: 100px;
    color: gray
}
p{
    color:aqua
}
em{
    color: gray
}
#shout {
    margin-top: 300px;
}
a:hover {
    color: #FF0000;
}
a {
    cursor: pointer;
}
a:active {
    color:#FF0000;
}
ul>li {
    background-color:aquamarine;
}